.landing {
    min-width: 1000px;
    min-height: 1000px;
    background: url(../images-common/headshot.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-clip: border-box;
    background-position: 50%;
}

.name {
  text-decoration: none;
  color: white;
}

.nav > li > a {
  text-decoration: underline;
  color: white;
  float: right;

}
