$line-color: rgba(34,36,38,0.35);

.accordion {
  width:80%;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 10%;
  
}

.Collapsible {

  padding: 1rem 0;
  border-bottom: 1px solid $line-color ;

  display: flex;
  flex-direction: column;
}

.Collapsible__trigger {
  &:before{
    font-family: FontAwesome;
    content: '\f107';
    display: block;
    float: left;
    padding-right: 1rem;
    transition: transform 300ms;
    transform-origin: 20%;
    color: $line-color;
  }

  &.is-closed {
    &:before {
    }
  }

  &.is-open{
    &:before {
      transform: rotateZ(180deg);
    }
  }

  flex-basis: 100%;
}

.Collapsible__contentInner {
  padding: 1rem 1rem;
}

