.accordion {
  width:80%;
  padding: 1rem 2rem;
  border:red 1px solid;
  background: purple;
  display: flex;
  flex-direction: column;
}

.Collapsible {

  display: flex;
  flex-direction: column;
}

.Collapsible__trigger {
  &:before{
    font-family: FontAwesome;
    content: '\f107';
    display: block;
    float: left;
    padding-right: 1rem;
    transition: transform 300ms;
    transform-origin: 20%;
  }

  &.is-closed {
    &:before {
    }
  }

  &.is-open{
    &:before {
      transform: rotateZ(180deg);
    }
  }

  flex-basis: 100%;
}

.collapsible-title {
  padding: 5px 5px;
  display: flex;
  align-items: center;
}
