@import '../utils/_bits.scss';

body {
  background: #000;
}
.wrapper {
  padding: 2rem;
}

.container {
  min-width: 700px;
  min-height: 700px;
  display: flex;
  flex-direction: column;
}

.name {
  text-decoration: none;
  padding: 1rem;
  color: $offwhite;
  align-self: flex-start;
}

.content {
  &.open {
    visibility:visible
  }
  display: flex;
  justify-content: flex-end;
  visibility: hidden;
  background: rgba(white,0.2);
  flex-grow: 9;
  transition: visibility .5s linear;
}

.content-close {
  font-family:FontAwesome;
  color: $offwhite;
  cursor: pointer;
  padding: 5px;
  width:40px;
  height:40px;
}

.jam {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav {   
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @include breakpoint(laptop){
    flex-direction: row;
    a { 
      padding: 0 1rem;
    }
  }
  
  a {
    &:hover{
      text-decoration: underline;
      color: $offwhite;
    }
    text-decoration: none;
    color: rgba($offwhite, .8);
  }

}

#bgvideo {
  &.stopFade{
    opacity: .2;
  }
  top: 50%;
  left: 50%;
  transform: translatex(-50%) translateY(-50%);
  width: auto;
  height: auto;
  min-width:100%;
  min-height:100%;
  position: fixed;

  background: url(../images-common/headshot.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-clip: border-box;
  z-index: -100;
  transition: 1s opacity;
}
